<p *ngIf="!weather">Loading...</p>
<div *ngIf="weather" class="card-container">
  <div class="card">
    <div class="title">
      <h1>{{ weather.location }}</h1>
    </div>
    <div class="content">
      <img
        [src]="'../../assets/weather-icons/' + weather.icon + '.png'"
        [alt]="weather.icon"
        [title]="weather.description"
      />
      <h2>{{ weather.temperature }} °C</h2>
      <div class="grid">
        <div>Feels like:</div>
        <div class="value-item">{{ weather.feelsLike }} °C</div>
        <div>Precipitation probability:</div>
        <div class="value-item">{{ weather.precipitationProbability }} %</div>
        <div>Wind speed:</div>
        <div class="value-item">{{ weather.windSpeed }} km/h</div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</div>
