.container {
    display: flex;
    height: calc(100vh - 4rem);
}

.container-content {
    padding: 2rem;
    display: flex;
    flex: 1;
    justify-content: center;
}

main {
    padding-top: 25px;
    padding-left: 175px;

    @media (max-width: 768px) {
        padding-left: 25px;
    }
}